version: '3.8'

services:
  app:
    build: .
    container_name: community-events-app
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
      - DATABASE_URL=/app/data/sqlite.db
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=https://dsc.inf.pucp.edu.pe/community-events
      - NEXT_PUBLIC_APP_URL=https://dsc.inf.pucp.edu.pe/community-events
      - UPLOAD_DIR=/app/uploads
    volumes:
      - ./data:/app/data
      - ./uploads:/app/uploads
    networks:
      - web

networks:
  web:
    external: true
